@media (max-width: 991px){
    .about{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
    }
    .about_server{
        width: 370px;
        height: 500px;
    }
    .img_server_block{
         display: inline-block;
         margin: 0px;
        width: 270px;
        height: auto;
    }
    .img_server_down{
        margin: 0;
    }
    .img_server_item{
        margin: 0px;
    }
    .return{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
    }
    .return_form{
         display: block;
        width: 480px;
        margin: 0px 0px 30px;
    }
    .return_table{
        display: block;
        width: 480px;
        height: 300px;
        margin: 0px 0px 30px;
    }
}
@media (max-width: 1500px){
    .header-fixed{
        display: none;
    }
    .header{
        flex-direction: row;
        justify-content: space-around;
    }
    .menu{
        display: none;
    }
    .book{
        display: none;
    }
    .bookfooter{
        display: none;
    }
    .menulink{
        display: block;
    }
    .m_menu{
        display: flex;
        padding: 0;
        margin: 0;
        position: fixed;
        right: 0;
        top: 0;
        height: 100hv;
        width: 100%;
        list-style: none;
        font-size: 2rem;
        line-height: 1;
        background: #fff;
        z-index: 9999;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: 0.3s;
        transform: translateY(-100%);
    }
    .m_menu_active{
        transform: translateY(0%);
    }
    .close-menu{
        position: fixed;
        right: 1rem;
        top: 1rem;
        font-size: 4rem;
        font-weight: 900;
    }
    .close-menu:hover{
        cursor: pointer;
    }
    .m_menuB{
        background: black;
    }
}
@media (max-width: 400px){
    .about_server{
        width: 300px;
        height: 600px;
    }
    .return_form{
        display: block;
        width: 340px;
        margin: 0px 0px 30px;
    }
    .return_table{
        display: block;
        width: 340px;
        height: 300px;
        margin: 0px 0px 30px;
    }
}